*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse
.classpath
.project
.settings

# Maven
target

#Derby
derby.log

.vagrant

# A ignorer, faire : ansible-galaxy install -r requirements.yml -p ./roles
# et être à jour
exemples/1-glusterfs/roles
exemples/2-kubernetes/roles
